@font-face {
    font-family: Bask;
    src: url(./fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: Avenir;
    src: url(./fonts/avenir_roman_12.otf);
}
@media (max-width: 468px){
    #project{
        text-align: center;
        
        
    }
    #about{

margin-right:-10px;   
margin-left: 40px; 
}
    #hero{
    margin-left: 40px}

    #pimg{
        margin-right: 0px;
    }
    .hey{
        margin-top: -50px;
       
        
    }
    .hey-text{
        margin-top: 100px;
       
        
    }
 p#text.hey-text{
    width: 400px;  
 }   
 h2.aboutMe-heading{
        margin-left:  50px;
        margin-bottom: 0px;
        
}
p.aboutMe-paragraph{
    margin-left: 50px;
    width: 420px;
    
}  
.education-heading{
    margin-left: 45px;
    margin-top: -30px;
}
p.education-pharagraph{
    margin-left: 50px ;
    width: 420px;
}
h2#project.project-heading{
    margin-left: 40px;
}
p.lead.paragraph-black{
    margin-left: 40px;
    
}
#project-1-text{
    margin-top: -200px;
}
#project-1-img{
    margin-top: -50px;
    padding-right: 15px;
    border-radius: 10px;
}
#project-2-text{
    margin-top: -150px;
}
#project-2-img{
    margin-top: 50px;
    padding-right: 15px;
}
#project-3-text{
    margin-top: -160px;
}
#project-3-img{
    margin-top: -10px;
    padding-right: 15px;
}
#footer{
    margin-left: 40px;
}
}

.Background{
    background-color: #9BE8D8;
}
.Background2{
    background-color: #78C1F3;
}
.Background3{
    background-color: #E2F6CA;
}
body{
    background-color: #9BE8D8;
    overflow:auto ;
}
#title{
    font-family: Bask;
    font-style: italic;
    color: #E2F6CA;
}
#poftitle{
    font-family:  Avenir;
}
.ppic{
    border-radius: 50%;
    margin-top: 50px;

}
.img-section{
    display: flex;
    height: 100vh;
    justify-content: center;
    
}
h2{
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px ;
    font-family: Avenir;
    color: #E2F6CA;
    position: relative;
    top: -780px;
}
.text{
    display: flex;
    justify-content: center;
    position: relative;
    top: -640px;
}
#text{
    color: #E2F6CA;
    font-family: Avenir;
    text-align: center;
    font-size: 18px;
}
.aboutMe-heading{
    margin-top: 160px;
    font-family: Avenir;
}
.aboutMe-paragraph{
    text-align:center ;
    position: relative;
    bottom: 790px;
    color: #E2F6CA;
    font-family: Avenir;
    font-size: 18px;
}
.education-section{
    margin-top: 100px;
    font-family: Avenir;
}
.education-pharagraph{
    text-align:center ;
    position: relative;
    bottom: 790px;
    color: #E2F6CA;
    font-family: Avenir;
    font-size: 18px;
}
.project-heading{
    position: relative;
    top: -300px;
    color: black;
    font-family: Bask;
    font-size: 50px;
    margin-bottom: -200px;
    margin-top: -100px;
}
.paragraph-black{
    color: black;
    font-family: Avenir;
    font-size: 22px;
}
hr{
    color: transparent;
}
.paragraph-black{
    text-align: center;
    
}
img{
    border-radius: 10px;
}
#img{
    padding-top: 180px;
}